<div style="display: flex; justify-content: center; align-items: center; background-color: var(--grey); padding: 50px 280px 50px 300px">
    <div data-aos="zoom-out" style="display:flex; align-items: center; flex-direction: column;">
        <div>
            <a href=""><img src="assets/img/github-fill.png"></a>
            <a href=""><img src="assets/img/linkedin-box-fill.png"></a>
            <a href=""><img src="assets/img/xing-fill.png"></a> 
        </div>
        <div style="margin-top: 17.5px">
            <a href="">Imprint</a>
            <a href="">Data protection</a>
            <a href="">Disclaimer</a>
            <a href="icon-sources.component.html">Icon sources</a>
        </div>
        <span style="margin-top: 20px;">© Mario Neubacher 2022</span>
    </div>
</div>