* {
    padding: 0px 0px;
    margin: 0px;
    --red: #fa2759;
    --grey: #131111;
    --green: #2dfcd8;
    color: white;
    font-family: Spartan, sans-serif;
    font-size: 17.5px;
}

img {
    width: 45px;
    height: auto;
    cursor: pointer;
    filter: invert(100%);
    &:hover {
        filter: invert(60%);
    }
}

.filter {
    filter: invert(70%) !important;
    &:hover {
        filter: invert(10%);
    }
}

a {
    text-decoration: none; 
    font-family: Spartan, sans-serif;
    margin: 10px;

    &:hover {
        filter: invert(40%);
    }
}

.backgroundLightgrey {
    background-color: lightgray !important;
}

.colorGrey {
    color: rgb(0,0,0,0.8);
    &:hover {
        filter: invert(50%) !important;
    }
}

.colorGray {
    color: rgb(0,0,0,0.8);
}

.div-footer {
    display:flex; 
    align-items: center; 
    flex-direction: column;
}

@media (max-width: 520px) {
    .div-footer {
        width: 50px;
    }
}