<div style="display: flex; justify-content: center; align-items: center; background-color: var(--grey); padding: 50px 280px 50px 300px">
    <div data-aos="zoom-out" style="display:flex; align-items: center; flex-direction: column;">
        <div>
            <a href="https://github.com/MarioNeubacher"><img src="assets/img/github-fill.png"></a>
            <a href="https://at.linkedin.com/in/mario-neubacher-98571820b"><img src="assets/img/linkedin-box-fill.png"></a>
        </div>
        <div style="margin-top: 17.5px">
            <a routerLink="/imprint">{{ 'imprint' | translate }}</a>
            <a routerLink="/data-protection">{{ 'data-protection' | translate }}</a>
            <a routerLink="/disclaimer">{{ 'disclaimer' | translate }}</a>
            <a routerLink="/icon-sources">{{ 'icon-sources' | translate }}</a>
        </div>
        <span style="margin-top: 20px;">Mario Neubacher © 2022</span>
    </div>
</div>