<div #aboutTabSwitch id="about" [class.div-section1background_lightgrey]="darkmodeService.darkmodeToggle"
    style="background-color: var(--grey); min-width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div class="div-aboutMe">
        <img data-aos="zoom-out" src="assets/img/7.png" class="img-profileImg"> 
        <div data-aos="zoom-out" style="display: flex; flex-direction: column; margin-top: 25px;"> 
            <div [class.colorBlack]="darkmodeService.darkmodeToggle" style="text-align: center; font-weight: 900; margin-bottom: 10px; font-size: 30px;">
                {{ 'about-headline' | translate }}
            </div>
            <div [class.colorBlack]="darkmodeService.darkmodeToggle" class="txt-about">
                {{ 'about-text' | translate }} 
            </div>
        </div>
    </div>

    <div data-aos="fade-zoom-in" class="dash"></div>

    <div class="div-bullets">
        <div *ngFor="let bullet of bullets" style="width: 240px" data-aos="zoom-out">
            <div style="display: flex; flex-direction: column; text-align: center; margin-bottom: 100px">
                <div>
                    <img class="img" src="{{ 'assets/img/' + bullet.img }}">  <!-- no / before path bc it doesnt work when hosting -->
                </div>
                <div [class.colorBlack]="darkmodeService.darkmodeToggle" style="margin: 20px; display: flex; align-items: center; justify-content: center; height: 15px">{{ bullet.title | translate }}</div>
                <div [class.colorBlack]="darkmodeService.darkmodeToggle" style="margin: 10px; display: flex; align-items: center">{{ bullet.text | translate }}</div>
            </div>
        </div>
    </div>
</div>