<div
    style="background-color: var(--grey); min-width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div style="display: flex; justify-content: center; align-items: center;">
        <img data-aos="fade-left" src="assets/img/3.png" style="height: 200px; border-radius: 25px; width: auto; margin: 30px">
        <div data-aos="fade-right" style="display: flex; flex-direction: column;">
            <div style="text-align: center; font-weight: 900; margin-bottom: 10px; font-size: 25px;">
                About me.
            </div>
            <div style="width: 400px; text-align: center;">
                “ I'm an outdoor sport enthusiast (surfing forever) and front end developer who loves pushing boundaries ”
            </div>
        </div>
    </div>

    <div data-aos="fade-zoom-in" style="background-color: var(--green); height: 0.5px; width: 900px; margin-bottom: 75px;"></div>

    <div style="display: flex">
        <div *ngFor="let bullet of bullets">
            <div style="display: flex; flex-direction: column;">
                <div>placeholder</div>
                <div>{{ bullets.title }}</div>
                <div>placeholder</div>
              </div>
        </div>
    </div>
</div>