* {
    padding: 0px 0px;
    margin: 0px;
    --red: #fa2759;
    --grey: #131111;
    --green: #2dfcd8;
    color: white;
    font-family: Spartan, sans-serif;
    font-size: 17.5px;
}

.div-section1background_lightgrey {
    background-color: lightgrey !important;
}

.colorBlack {
    color: rgb(0,0,0,0.7);
}

.img {
    margin: 10px;
    background-color: var(--green);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding: 10px;
}

.txt-about {
    padding: 0px 10px; 
    text-align: center;
    width: 400px;
}

@media (max-width: 400px) {
    .txt-about {
        width: 200px;
    }
}