<div class="body">
    <div class="frame">
        <div class="lines"></div>
        <div class="angles"></div>
        <article>
            <p>Hover me</p>
        </article>
    </div>
</div>


<div style="background-color: black; min-width: 100%; display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; margin-bottom: 75px;">
        <div style="color: var(--green); font-size: 40px; font-weight: 700; margin: 75px 0px 10px 0px;">Contact me.
        </div>
        <div style="color: #A8A8A8; margin-bottom: 30px; font-size: 12.5px;">Get in touch via the link below, or by
            emailing me <span style="color: var(--green)">neubacher.mario00@gmail.com</span></div>
        <div class="headline-contact">Name</div>
        <input placeholder="Enter your name">
        <div class="headline-contact">Email address</div>
        <input placeholder="Enter your email address">
        <div class="headline-contact">Message</div>
        <input placeholder="Enter your message">
        <div style="display: flex; justify-content: flex-end">
            <button class="btn-send">Send</button>
        </div>
    </div>
</div>