<div id="contact" style="padding-top: 30px;">
    <div class="div-contact">
        <div class="frame">
            <div data-aos="zoom-out" class="frame">
                <div class="lines"></div>
                <div class="angles"></div>
                <article>
                    <div class="div-frameContent">
                        <div style="color: var(--green); font-size: 40px; font-weight: 700; margin: 50px 0px 10px 0px;">
                            {{ 'contact-headline' | translate }}
                        </div>
                        <div style="color: #A8A8A8; margin-bottom: 10px; font-size: 12.5px;">
                            {{ 'contact-h2' | translate }}
                            <a style="color: var(--green); cursor: pointer; filter: invert(25%); text-decoration: none;" href="#">neubacher.mario00@gmail.com</a>
                        </div>
                        <form action="http://mario-neubacher.developerakademie.com/send_mail.php" method="post">
                            <div class="headline-contact">Name</div>
                            <input required type="text" name="name" placeholder="{{ 'input-name' | translate }}">
                            <div class="headline-contact">Email address</div>
                            <input required type="email" name="email" placeholder="{{ 'input-email' | translate }}">
                            <div class="headline-contact">Message</div>
                            <textarea required type="text" name="message" placeholder="{{ 'textarea-message' | translate }}" cols="40"
                                rows="7"></textarea>
                            <div style="display: flex; justify-content: flex-end">
                                <button (click)="alert()" type="submit" class="btn-send">{{ 'btn-send' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>