<div #contactTabSwitch id="contact" style="padding-top: 30px;" [class.backgroundWhite]="darkmodeService.darkmodeToggle">
    <div class="div-contact" [class.backgroundWhite]="darkmodeService.darkmodeToggle">
        <div class="frame" style="width: 62.5%">
            <div data-aos="zoom-out" class="frame">
                <div class="lines"></div>
                <div class="angles"></div>
                <article>
                    <div class="div-frameContent" style="padding: 0px 10px">
                        <div style="font-size: 2rem; font-weight: 700; margin: 50px 0px 10px 0px;">
                            <span style="color: var(--green);">{{ 'contact-headline' | translate }}</span>
                            
                        </div>
                        <div class="div-contactContent">
                            {{ 'contact-h2' | translate }}
                            <a class="email" href="mailto:neubacher.mario00@gmail.com">neubacher.mario00@gmail.com</a>
                        </div>
                        <form action="http://mario-neubacher.developerakademie.com/send_mail.php" method="post">
                            <div [class.colorGrey]="darkmodeService.darkmodeToggle" class="headline-contact">Name</div>
                            <input [class.backgroundLightgrey]="darkmodeService.darkmodeToggle" required type="text" name="name" placeholder="{{ 'input-name' | translate }}">
                            <div [class.colorGrey]="darkmodeService.darkmodeToggle" class="headline-contact">Email address</div>
                            <input [class.backgroundLightgrey]="darkmodeService.darkmodeToggle" required type="email" name="email" placeholder="{{ 'input-email' | translate }}">
                            <div [class.colorGrey]="darkmodeService.darkmodeToggle" class="headline-contact">Message</div>
                            <textarea [class.backgroundLightgrey]="darkmodeService.darkmodeToggle" required type="text" name="message" placeholder="{{ 'textarea-message' | translate }}" cols="40"
                                rows="7"></textarea>
                            <div style="display: flex; justify-content: flex-end; width: 90.5%;">
                                <button (click)="alert()" type="submit" class="btn-send">{{ 'btn-send' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>