* {
  padding: 0px 0px;
  margin: 0px;
  --red: #fa2759;
  --grey: #131111;
  --green: #2dfcd8;
  color: white;
  --greyMenutabs: rgba(255, 255, 255, 0.5);
  font-size: 17.5px;
}

header {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  right: 0;
  left: 0;
  align-items: center;
  height: 60px;
  padding: 0px 19.5% 0px 18.6%;
  background-color: black;
  text-decoration: none;
  color: white;
}

img {
  width: 20px; 
  height: auto;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 5px;

  &:active {
    color: var(--red);
  }
}

h1 {
  padding: 20px 20px 30px 20px;
  margin-top: 40px;
}

span {
  padding: 5px;
  font-size: 35px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 0px;
}

li {
  margin: 5px 0px 5px 5px;
  font-size: 15px;
}

select {
  color: var(--greyMenutabs);
  background-color: transparent;
  border: none;
  font-size: 15px;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;

  option {
    background: black;
    color: var(--greyMenutabs);
    border: 0px;
    outline: 0px;
    &:hover {
      color: black;
    }
  }
}

.mat-mini-fab {
    background-color: black;
    /* overflow: unset !important; */
    padding: 0px !important;
}

.img-sun {
  filter: invert(50%);
  &:hover {
    filter: invert(20%);
  }
}

.img-moon {
  &:hover {
    filter: invert(30%);
  }
}

.hover {
  &:hover {
    filter: invert(30%);
  }
}

.color {
  background-color: red;
}

.bg-white {
  background-color: white;
}

.white-color {
  color: white;
}

.blackColor {
  color: rgb(0,0,0,0.8);
}

.greyColor {
  color: rgb(0,0,0,0.7);
}

.div-links {
  color: white;
  padding: 20px 15px;

  &:hover {
    color: var(--red);
  }
}

.redtxt {
  color: va(--red);
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1135 {
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1135 * {
  box-sizing: border-box;
}
.snip1135 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0px 0px 0px 25px;
  padding: 0;
}
.snip1135 a {
  padding: 0.5em 0;
  color: var(--greyMenutabs);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip1135 a:before,
.snip1135 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1135 a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: var(--red);
}
.snip1135 a:after {
  left: 0;
  top: 0px;
  padding: 6.5px 0px;
  position: absolute;
  content: attr(data-hover);
  white-space: nowrap;
  max-width: 0%;
/*   overflow: hidden; */
}
.snip1135black a:after {
  left: 0;
  top: 0.5px;
  padding: 6.5px 0px;
  position: absolute;
  content: attr(data-hover);
  white-space: nowrap;
  color: black;
  max-width: 0%;
/*   overflow: hidden; */
}
.snip1135 a:hover:before,
.snip1135 .current a:before {
  opacity: 1;
  width: 100%;
}
.snip1135 a:hover:after,
.snip1135 .current a:after {
  max-width: 100%;
}

.div-rightNavbar {
  display: flex;
}

.div-burgerResponsive {
  display: none;
  background-color: transparent;
}

.d-none {
  display: none;
}

.popUp {
  width: 100vw;
  height: auto;
  background-color: red;
}

@media (max-width: 1165px) {
  .snip1135 {
    /* overflow-x: auto; */
    width: 500px;
  }
}

@media (max-width: 850px) {
  header {
    padding: 0px 5% 0px 5%;
  }
}

@media (max-width: 685px) {
  .div-rightNavbar {
    display: none;
  }

  .div-burgerResponsive {
    display: unset;
  }
}