* {
    padding: 0px 0px;
    margin: 0px;
}

h1 {
    padding: 20px;
}

span {
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    a {
        color: grey;
        text-decoration: none;
        font-weight: 500;
        padding: 20px 15px;

        &:hover {
            background-color: #FA2759;
            color: white;
        }
    }

    img {
        height: 50px;
        cursor: pointer;
    }
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0px;
}

.div-section1background{
    background-color: black; 
}

.div-section2background{
    background-color: #131111; 
}

.div-section {
    padding: 0px 0px 20px 0px; 
    display: flex; 
    justify-content: center; 
    flex-direction:column; 
    align-items:center; 
    color: white;
}

.darkLinks {
    a {
        color: black;

        &:hover {
            color: rgb(0,0,0,0.8)
        }
    }
}

.headerDark {
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

.div-contact {
    cursor: pointer; 
    color: #2DFCD8; 
    border: 1px solid #2DFCD8; 
    display:flex; 
    align-items:center; 
    justify-content: center; 
    height: 50px; 
    border-radius: 10px; 
    margin: 50px 300px 0px 0px;

    &:hover {
        color: white;
        background-color: #2DFCD8;
    }
}

.img-dropDown {
    filter: invert(100); 
    cursor: pointer;

    &:hover {
        filter: invert(50%); 
    }
}

.div-portfolio {
    display: flex; 
    justify-content: space-between;
}

.img-projects {
    height: 230px;
    width: 489px;
    margin: 15px;
    border-radius: 20px;
    background-size: contain;
}

.div-ElPolloLoco {
    background-image: url(/assets/img/el-pollo-loco.png);
}

.div-kanban {
    background-image: url(/assets/img/kanban.png);
}

.div-pokedex {
    background-image: url(/assets/img/pokedex.PNG);
}

.div-tictactoe {
    background-image: url(/assets/img/tictactoe.PNG);
}

.div-lieferando {
    background-image: url(/assets/img/lieferando.PNG);
    width: 485.25px;
}