* {
  padding: 0px 0px;
  margin: 0px;
  --red: #fa2759;
  --grey: #131111;
  --green: #2dfcd8;
  color: white;
  --greyMenutabs: rgba(255, 255, 255, 0.5);
  font-size: 17.5px;
}

header {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 19.5% 0px 18.6%;
  background-color: black;
  text-decoration: none;
  color: white;
}

img {
  width: 20px; 
  height: auto;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 5px;

  &:active {
    color: var(--red);
  }
}

h1 {
  padding: 20px 20px 30px 20px;
  margin-top: 40px;
}

span {
  padding: 5px;
  font-size: 35px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 0px;
}

li {
  margin: 5px 0px 5px 5px;
  font-size: 15px;
}

select {
  color: var(--greyMenutabs);
  background-color: transparent;
  border: none;
  font-size: 15px;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;

  option {
    background: black;
    color: var(--greyMenutabs);
    border: 0px;
    outline: 0px;
    &:hover {
      color: black;
    }
  }
}

.img-sun {
  filter: invert(50%);
  &:hover {
    filter: invert(20%);
  }
}

.img-moon {
  &:hover {
    filter: invert(30%);
  }
}

.hover {
  &:hover {
    filter: invert(30%);
  }
}

.color {
  background-color: red;
}

.bg-white {
  background-color: white;
}

.white-color {
  color: white;
}

.blackColor {
  color: rgb(0,0,0,0.8);
}

.greyColor {
  color: rgb(0,0,0,0.7);
}

.div-links {
  color: white;
  padding: 20px 15px;

  &:hover {
    color: var(--red);
  }
}

.redtxt {
  color: va(--red);
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1135 {
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1135 * {
  box-sizing: border-box;
}
.snip1135 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0px 0px 0px 25px;
  padding: 0;
}
.snip1135 a {
  padding: 0.5em 0;
  color: var(--greyMenutabs);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip1135 a:before,
.snip1135 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1135 a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: var(--red);
}
.snip1135 a:after {
  left: 0;
  top: 0px;
  padding: 6.5px 0px;
  position: absolute;
  content: attr(data-hover);
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.snip1135black a:after {
  left: 0;
  top: 0.5px;
  padding: 6.5px 0px;
  position: absolute;
  content: attr(data-hover);
  white-space: nowrap;
  color: black;
  max-width: 0%;
  overflow: hidden;
}
.snip1135 a:hover:before,
.snip1135 .current a:before {
  opacity: 1;
  width: 100%;
}
.snip1135 a:hover:after,
.snip1135 .current a:after {
  max-width: 100%;
}

.div-rightNavbar {
  display: flex;
}

.div-burgerResponsive {
  display: none;
}

/* MODAL */
.modal {
  // padding: 1em;
  max-width: 50ch;
  // border: 0;
  // box-shadow: 0 0 1em rgb(0 0 0 / .3);

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

/* extra styling */

body {
  min-height: 100vh;
  margin: 2rem;
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--gray-8);
  // background-image: url('https://images.unsplash.com/photo-1644242629712-943ae5c8c4f3?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0Njc1MjQxNA&ixlib=rb-1.2.1&q=85');
  // background-size: cover;
}

h1 em {
  color: var(--cyan-9);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.button {
  border: 0;
  cursor: pointer;
  background: var(--gray-8);
  color: var(--gray-2);
  font-weight: 700;
  padding: var(--size-2) var(--size-4);
}

.button:hover,
.button:focus {
  background: var(--cyan-9);
}

form {
  display: grid;
  gap: 1em;
}

@media (max-width: 1165px) {
  .snip1135 {
    overflow-x: auto;
    width: 500px;
  }
}

@media (max-width: 850px) {
  header {
    padding: 0px 5% 0px 5%;
  }
}

@media (max-width: 685px) {
  .div-rightNavbar {
    display: none;
  }

  .div-burgerResponsive {
    display: unset;
  }
}