<header>
    <a style="cursor: pointer; color: white; font-size: 35px; font-weight: bold" href="#home">
        M
        <span style="color: #FA2759">.</span>
        N
    </a>
    <div>
        <a class="div-links" [class.redtxt]="selectedSection" href="#home">HOME</a>
        <a class="div-links" [class.redtxt]="selectedSection" href="#projects">PORTFOLIO</a>
        <a class="div-links" [class.redtxt]="selectedSection" href="#technologies">TECHNOLOGIES</a>
        <a class="div-links" [class.redtxt]="selectedSection" href="#about">ABOUT</a>
        <a class="div-links" [class.redtxt]="selectedSection" href="#contact">CONTACT</a>
        <a class="div-links">EN</a>
        <a class="div-links">Darkmode</a> <!-- vid 17 input parameter  -->
    </div>
</header>