<header>
    <a style="cursor: pointer; color: white; font-size: 35px; font-weight: bold" href="#home">
        M
        <span style="color: #FA2759">.</span>
        N
    </a>

    <ul class="snip1135"> <!-- *ngIf="onePage" -->
        <li [class.current]="scrolling.firstMenuSection() && onePage"}><a href="/#home" data-hover="Home">Home</a></li>
        <li [class.current]="scrolling.secondMenuSection() && onePage"}><a href="/#technologies" data-hover="TECHNOLOGIES">TECHNOLOGIES</a></li>
        <li [class.current]="scrolling.thirdMenuSection() && onePage"}><a href="/#projects" data-hover="Portfolio">Portfolio</a></li>
        <li [class.current]="scrolling.fourthMenuSection() && onePage"}><a href="/#about" data-hover="ABOUT">ABOUT</a></li>
        <li [class.current]="scrolling.fifthMenuSection() && onePage"}><a href="/#contact" data-hover="Contact">Contact</a></li>
    </ul>

   <!--  <ul *ngIf="!onePage" class="snip1135">
        <li><a href="/#home" data-hover="Home">Home</a></li>
        <li><a href="/#technologies" data-hover="TECHNOLOGIES">TECHNOLOGIES</a></li>
        <li><a href="/#projects" data-hover="Portfolio">Portfolio</a></li>
        <li><a href="/#about" data-hover="ABOUT">ABOUT</a></li>
        <li><a href="/#contact" data-hover="Contact">Contact</a></li>
    </ul> -->

</header>