<div id="technologies" class="div-section div-section1background">
    <h1 data-aos="fade-down">{{ 'headline-technologies' | translate }}</h1>

    <div data-aos="fade-down" style="background-color: red; height: 0.5px; width: 130px; margin-bottom: 75px;"></div>
   
    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap; width: 1050px; margin-bottom: 50px">
        <div *ngFor="let technology of technologies" class="div-technologies" data-aos="flip-right">
            <div
                style="display: flex; justify-content: center; align-items: center; flex-direction: column; position: relative;">
                <div class="div-img">
                    <img class="img" src="{{ '/assets/img/' + technology.img }}">
                </div>
                <span style="color: black">{{ technology.name }}</span>
            </div>
        </div>
    </div>
</div>