<div id="technologies" [class.div-section1background_lightgrey]="darkmodeService.darkmodeToggle" class="div-section div-section1background">
    
    <h1 id="h1-technologies" [class.fade-in]="inViewPortService.elementInViewport2('h1-technologies')" [class.colorBlack]="darkmodeService.darkmodeToggle" >{{ 'headline-technologies' | translate }}</h1> 

    <div style="background-color: red; height: 0.5px; width: 130px; margin-bottom: 75px;"></div> 
   
    <div class="div-wrap">
        <div data-aos="flip-right" *ngFor="let technology of technologies" class="div-technologies" > 
            <div
                style="display: flex; justify-content: center; align-items: center; flex-direction: column; position: relative;">
                <div class="div-img">
                    <img class="img" src="{{ 'assets/img/' + technology.img }}"> <!-- no / before path bc it doesnt work when hosting -->
                </div>
                <span style="color: black; font-size: 16px;">{{ technology.name | translate }}</span>
            </div>
        </div>
    </div>

</div>