* {
    padding: 0px 0px;
    margin: 0px;
    --red: #FA2759;
    --grey: #131111;
    --green: #2DFCD8;
    color: white;
}

a {
    text-decoration: none;
}

h1 {
    padding: 20px 20px 30px 20px;
    margin-top: 40px;
}

span {
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    padding: 0px 250px; 
    background-color: black;
    text-decoration: none;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0px;
}

.div-links {
    color: grey;
    font-weight: 500;
    padding: 20px 15px;

    &:hover {
        background-color: var(--red);
        color: white;
    }
}

.div-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div-portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 0px 60px 0px;
}

.img-projects {
    display: flex;
    justify-content: space-between;
    height: 227.5px;
    width: 495px;
    margin: 15px;
    border-radius: 10px;
    background-size: contain;
}

.div-section1background{
    background-color: black; 
}

.div-section2background{
    background-color: var(--grey); 
}

.darkLinks {
    a {
        color: black;

        &:hover {
            color: rgb(0,0,0,0.8)
        }
    }
}

.headerDark {
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

.div-contact {
    cursor: pointer; 
    border: 1px solid var(--green); 
    display:flex; 
    align-items:center; 
    justify-content: center; 
    height: 50px; 
    border-radius: 10px; 
    margin: 50px 300px 0px 0px;
    color: var(--green);
    text-decoration: none;

    &:hover {
        color: white;
        background-color: var(--green);
    }
}

.img-dropDown {
    filter: invert(100); 
    cursor: pointer;

    &:hover {
        filter: invert(50%); 
    }
}

.div-projectsLanguage {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--red);
    padding: 5px;
    width: 100px;
    height: 50px;
    cursor: pointer;

    &:hover {
        background-color: var(--red);
    }
}