<div style="margin: 0px 250px">
    <div id="home"
        style="color: white; display: flex; justify-content: space-between; align-items: center; padding: 85px 0px 0px 0px; margin: 0px">
        <div style="display: flex; flex-direction: column; padding: 0px; margin: 0px">
            <div class="dynamic-txts">
                <li><span>Hi! I'm</span></li>
                <!-- <li><span style="color: #FA2759">Mario Neubacher</span></li>
                <li><span>Front End Developer</span></li> -->
            </div>
            <a class="div-contact" href="#contact">Contact me</a>
        </div>
        <img src="assets/img/3.png" class="img-profile">
    </div>
</div>

<div style="display:flex; justify-content: center; align-items: center; height: 136.5px">
    <a href="#projects"><img class="img-dropDown" src="assets/img/dropDown.png"></a>
</div>